.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  .value {
    margin-bottom: 30px;
    font-size: 80px;
    font-weight: 500;
  }

  .actions {
    .row {
      margin-bottom: 20px;
    }

    .btn {
      margin-right: 10px;
      padding: 10px;
      min-width: 100px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
